* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

html{
    margin: 0;
    padding: 0;
}
body {
    font-family: MessinaSansMonoWeb-Regular;
    background-color: black;
    width: 100vw;
    height: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
    color: lightgray;
    word-wrap: break-word;
    overflow-x: hidden; /* Hide horizontal scrollbar */

    
}
.header {
    width: 100vw;
    position: fixed;
    min-height: 74px;
    top: 0;
    left:0;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    background-color: black;
  }
  
  .header a {
    padding: 0;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
  .header a:hover {
    color: #f1f1f1;
  }

#header1{
    font-family: FKScreamerLegacy-Slanted;
    font-size: 2.5em;
    color: white;
    position: absolute;
    width: 300px;
    min-width: 302px;
    padding-left: 20px;
    line-height: 1;
}

#header2{
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100vw;
}  

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) { 
    div.card-wrapper{
        width: 100%;
    } 
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) { }

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {  }

/* Big screen devices (889px and above) */
@media only screen and (max-width: 889px) {
    #header1{
        width: 100vw;
        text-align: left;
        font-size: 2em;
    }
  }

/* Extra big screen devices (1200px and above) */
@media only screen and (max-width: 1200px) {  }

#result{
    margin: 0;
    padding: 0;
    min-height: 500px;
    text-align: left;
}

.wrapper {
    padding: 0;
    margin: 110px auto;
    width: 90%;
    min-height: 500px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.card-wrapper{
    width: 300px;
    min-height: 486px;
    margin: 0;
    padding: 8px;
    display: inline-block;
}

.card {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    min-height: 484px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #888888;
}

.card-img{
    display: inline-block;
    margin: 0;
    padding: 0;
    border-radius: 12px 12px 0 0;
    width: 100%;
}

div.card img {
    border-radius:12px 12px 0 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
}

img, svg{
    vertical-align: middle;
}

table {
    table-layout:fixed;
    width:96%;    
    margin: 0 auto;
    padding: 4px;
    text-align: left;

}
th, td {
    border-collapse: collapse;
    padding: 2px;
    font-size: 0.8em;
  }
#tdleft{
    text-align: left;
}

#tdright{
    text-align: right;
}

.button {
    background-color: initial;
    background-image: linear-gradient(-180deg, rgb(60, 136, 187), rgb(16, 52, 107));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    border: 0;
    transition: box-shadow .2s;
}

.button:hover {
    box-shadow: rgba(230, 221, 217, 0.5) 0 3px 8px;
}

input[type=number] {
    width: 160px;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 12px;
}

#number {
    background-color: none;
    background-image: none;
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left;
    border: 1px solid white;
}

label {
    font-size: larger;
}
ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.fa:hover {
    opacity: 0.7;
  }

  i{
    width: 20px;
    height:auto;
  }

  .footer {
    width: 100vw;
    min-height: 80px;
    position: sticky;
    bottom: 0;
    left:0;
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }

  #footer1{
    position: relative;
    display: inline-block;
    color: white;
    width: 140px;
    text-align: center;
    padding-right: 10px;
}

#footer1 li{
    margin: 0;
    padding: 0;
    display: inline-block;
}

  .footer a {
    padding: 0;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  
  .footer a:hover {
    color: #f1f1f1;
  }

  
.footer form {
    margin: 0;
    display: inline-block;
    width: 400px;

}
